.customTitle {
  font-size: 18px;
  padding-top: 10px;
}
.customPopup {
  width: 360px;
}

.customText {
  font-size: 12px;
  color: red;
}

.customIcon {
  margin: 20px auto;
  border: 2px solid lightblue;
}
